.date-select {
  max-width: 200px;
}

.date-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main {
  h1 {
    text-align: center;
  }
  margin-top: 20px;
}

.spinner-container {
  text-align: center;
  height: 100px;
}